/* General styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
  }
  
  /* Navbar styles */
  #navbar{
    background: rgb(37, 129, 40);
    
  }
  
  #logo{
    font-size: 36px;
    font-weight: 700;
    color:black;
    text-shadow: 0px 1px 1px rgb(18, 56, 17);
    margin-bottom: 5px;
  }
  
  #logo span{
    color:#ffa500;
  }
  
  #navbar .navbar-nav .nav-link{
    font-size:16px;
    font-weight: 550;
    color:black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition:0.5s ease;
  }
  
  #navbar .navbar-nav .nav-link:hover{
    background-color: orange;
    color:white;
    border-radius: 5px;
  }
  
  .navbar-toggler span{
    color:#ffa500;
  }
  
  #navbar form button{
    background:#fff;
    color:rgb(37, 129, 40);
  }
  
  .dropdown-toggle{
    background-color: #ffa500;
  }
  .d-flex > * {
    margin-right: 50px; /* Adjust the margin value as needed */
  }
  
  .form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
  }
 .form-input {
    display: flex;
    align-items: center;
    height: 36px;
    padding:0px;
  }
  .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: 1px;
    background-color: #fff;
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
  }
   .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: rgb(37, 129, 40);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
  }
  /*navbar ends here*/

  /* Home section styles */
  .home{
    width:100%;
    height:90vh;
    background:rgb(37, 129, 40);
    background-image: url('./background/sport.jpg');
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
    background-size: cover;
  }
/* Style scrolling heading text */
 /* Add CSS for the scrolling text animation */
 .scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  animation: scrollText 20s linear infinite;
}

/* Define the animation keyframes */
@keyframes scrollText {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-100%);
  }
 }
 .section-1{

  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 p{
  color:#0c0c0c;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgb(207, 141, 141);
  width: 90%;
  text-align: center;
}


  /*.content {
    background-color:rgb(241, 238, 238);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    color:black;
    height:200px;
    width:700px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }*/
  
  .content h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .content h4 span {
    color: orange;
    font-size: larger;
    font-weight: bold;
  }
  
  .content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  /*Home section ends here*/
  
  /*Footer starts here*/
  .footer {
    display: block;
    width: 100%;
    bottom: 0;
    position: relative;
    background:rgb(37, 129, 40);
    padding:  50px 25px;
         
}
.footer-start {
    display: flex;
    position:relative;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 50px 50px;
    background: rgb(37, 129, 40);
   
}
.start-learning {
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
}
.footer .inner {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 1180px;
    margin: auto;
    text-align: left;
}
.text span{
  color:orange;
}
.section-title span{
  color:orange;
}
.logo-info {
    text-align: left;
    line-height: 20px;
}
.text {
    font-size: 36px;
    line-height: 17px;
    color: #080808;
    padding:10px;
    font-weight: 600;
}
.copyright {
    color: #0c0c0c;
    font-size: 17px;
    line-height: 15px;
}
.footer .column {
    width: 100%;
    font-size: 17px;
    text-align: left;
}
.footer .column .column-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0.5em;
    color: #0a0a0a;
}
.footer .column .column-title:not(:first-child) {
    margin-top: 1em;
}
.illustration {
    left: 8%;
    position: absolute;
    top: -28px;
}
a.button {
    display: inline-flex;
    position: relative;
    height: 60px;
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background: #fff;
    color: rgb(37, 129, 40);
    border-radius: 36px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 30px;
    text-decoration: unset;
    box-shadow: 0px 24px 74pxrgb(37, 129, 40);
}
.section-title {
    font-size: 44px;
    font-weight: 700;
    color: #111111;
}
.section-sub-heading {
    font-size: 22px;
    font-weight: 400;
    color: #050505;
}
.section-sub-heading span {
    opacity: 0.6;
}
.section-sub-heading strong {
    font-weight: 600;
}
@media only screen and (max-width: 990px) and (min-width: 200px) {
    body {
        height: 200vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .footer .inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .start-learning {
        position: unset;
    }
    .footer-start {
        width: 100%;
        display: block;
        padding: 30px 20px;
        margin: 30px 0;
    }
    .section-title {
        font-size: 30px;
    }
    .section-sub-heading {
        font-size: 25px;
    }
    footer.footer {
        padding-top: 5px;
    }
    a.button {
        height: 50px;
        margin-top: 10px;
    }
    .column.is-logo {
        order: 4;
    }
}
/*Footer ends here*/
  
  
  